body {
  height: 100vh;
  text-align: center;
  background-color: azure;
}

h1 {
  text-decoration: underline;
}

.noDisplay {
  display: none;
}

#head {
  position: relative;
  top: 5px;
}

#torsoPieces {
  display: flex;
}


#leftArm {
  position: relative;
  top: -18px;
  left: -10px;

}

#rightArm {
  position: relative;
  top: -36px;
  left: 10px;
}

#legPieces {
  display: flex;
}

#leftLeg {
  position: relative;
  top: -42px;
  left: -5px;
  transform: scaleX(-1);
}

#rightLeg {
  position: relative;
  top: -60px;
  left: 5px;
}

#wordWrapper {
  background: tan;
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
  
} 

#inputRow {
  display: flex;
  justify-content: center;
  margin: 40px;
}



input, #submit, #reset {
  font-size: 20px;
  margin: 10px;
}